extends layout-history

block head
  link(rel='stylesheet', href='/datatables/media/css/dataTables.bootstrap.min.css')
  title RunCheck device


block content
  .container(style="margin-top: 10px")
    .well
      dl
        dt Name
        dd #{device.name}
        dt Serial Number
        dd #{device.serialNo}
        dt Type
        dd #{device.type}
        dt Department
        dd #{device.department}
        dt Owner
        dd #{device.owner}
  .container(style="margin-top: 10px")
    .well
      if device.irrChecklist && device.irrChecklist.required
        h4 Pre-installation Checklist
        #irrChecklist
      else
        form(method='POST')
          input(type='hidden' name='action', value="checklist-required")
          button(type='submit') Request Checklist


block js
  script(type='text/javascript' src='/javascripts/checklist-helper.js')
  script(type='text/javascript' src='/javascripts/template/checklist-input.js')
  script(type='text/javascript' src='/javascripts/template/checklist-config.js')
  script(type='text/javascript' src='/javascripts/template/checklist-config-item.js')
  if device.irrChecklist && device.irrChecklist.required
    script ChecklistHelper().render('#irrChecklist', '#{device.irrChecklist.id}');
