extends layout-history

block head
  link(rel='stylesheet', href='/datatables/media/css/dataTables.bootstrap.min.css')
  title RunCheck slot


block content
    br
    #message
      #modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h3#modalLabel
            .modal-footer
    .panel.panel-default
      .panel-heading
        strong Basic Infomation
      .panel-body
        .table-responsive
          table.table.table-condensed
            thead
              tr
                th Name
                th Owner
                th Associated area
                th Leve of care
                th Device type
                th Approval status
                th Slot group
            tbody
              tr
                td #{slot.name}
                td #{slot.owner}
                td #{slot.area}
                td #{slot.level}
                td #{slot.deviceType}
                td #{slot.approvalStatus}
                if (slotGroup)
                  - var sotGroupUrl = {'href': '/slotGroups/' + slotGroup._id};
                  td
                    a&attributes(sotGroupUrl) #{slotGroup.name}
                else
                  td
        button#list-slot.btn.btn-default.fa.fa-chevron-down(aria-hidden='true',title='show more details')
        .row
          .col-md-6.col-md-offset-3
            .table-responsive
              table.table
                tbody#slot-detail
                  tr
                    th Element name
                    td #{slot.elementName}
                  tr
                    th System
                    td #{slot.system}
                  tr
                    th Sub-system
                    td #{slot.subsystem}
                  tr
                    th Device
                    td #{slot.deviceNaming}
                  tr
                    th Beam line position (dm)
                    td #{slot.beamlinePosition}
                  tr
                    th Minimum Beam Pipe Inner Diameter (mm)
                    td #{slot.InnerDiameter}
                  tr
                    th Element Flange to Flange Length (m)
                    td #{slot.flangeLength}
                  tr
                    th PLACE HOLDER
                    td #{slot.placeHolder}
                  tr
                    th Element Effective Length (m)
                    td #{slot.effectiveLength}
                  tr
                    th Global Coordinate Z (m)
                    td #{slot.coordinateZ}
                  tr
                    th Global Coordinate Y (m)
                    td #{slot.coordinateY}
                  tr
                    th Global Coordinate X (m)
                    td #{slot.coordinateX}
                  tr
                    th Accumulated center-to-center Length (m)
                    td #{slot.center2centerLength}
                  tr
                    th Accumulated end-to-end Length (m)
                    td #{slot.end2endLength}
                  tr
                    th Comment
                    td #{slot.comment}
                  tr
                    th Machine mode
                    td #{slot.machineMode}
    .panel.panel-default
        .panel-heading
          strong Checklist
        .panel-body

block js
  script(type='text/javascript', src='/datatables/media/js/jquery.dataTables.js')
  script(type='text/javascript', src='/datatables/media/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='/javascripts/slot-action.js')