extends layout

block head
  link(rel='stylesheet', href='/datatables/media/css/dataTables.bootstrap.min.css')
  title RunCheck slot group


block content
  .container-fluid
    br
    #message
      #modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h3#modalLabel
            .modal-footer
    form.form-inline
      .panel.panel-default
        .panel-heading
          strong Basic Infomation
        .panel-body
          .container
            table.table.table-condensed
              thead
                tr
                  th Name
                  th Created By
                  th Created On
                  th Area
                  th Description
              tbody
                tr
                  td #{group.name}
                  td #{group.createdBy}
                  td #{group.createdOn}
                  td #{group.area}
                  td #{group.description}
      .panel.panel-default
        .panel-heading
          strong Slots
        .panel-body
          button.btn.btn-primary#remove
            | Remove
          br
          br
          #slots.tab-pane.active
            table#spec-slots-table.table.table-bordered.table-hover
block js
  script(type='text/javascript', src='/datatables/media/js/jquery.dataTables.js')
  script(type='text/javascript', src='/datatables/media/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='/holderjs/holder.min.js')
  script(type='text/javascript', src='/javascripts/table.js')
  script(type='text/javascript', src='/javascripts/slots-table.js')
  script(type='text/javascript', src='/javascripts/slot-group-action.js')
