extends layout-history

block head
  title FRIB runcheck - #{user.name}

block content
  .container(style="margin-top: 10px")
    #message
    #profile.well
      img(src='/users/#{user.adid}/photo')
      dl
        dt Name
        dd #{user.name}
        dt Email
        dd #{user.email}
        dt Office
        dd #{user.office}
        dt Office phone
        dd #{user.phone}
        dt Mobile phone
        dd #{user.mobile}
        dt Last login on
        dd #{user.lastLoginOn}
        dt Roles
        dd#roles
          if (session.roles.admin)
            form.form-horizontal
              .form-group
                .col-sm-2
                .col-sm-10
                  .checkbox
                    label
                      if (user.roles.admin)
                        input(type='checkbox', name='roles.admin', checked)
                      else
                        input(type='checkbox', name='roles.admin')
                      != ' '
                      | admin
                  .checkbox
                    label
                      if (user.roles.leader)
                        input(type='checkbox', name='roles.leader', checked)
                      else
                        input(type='checkbox', name='roles.leader')
                      != ' '
                      | leader
              .form-group
                label.contol-label.col-sm-2 Expert for
                .col-sm-10
                  select.form-control(name='expert')
                    option(value='') None
                    each subject in subjects
                      if (user.expert === subject)
                        option(value=''+subject, selected)= subject
                      else
                        option(value=''+subject)= subject
              button.btn.btn-default(type='reset')#reset reset
              != '  '
              button.btn.btn-primary(type='submit', disabled)#update update
          else
            ul
              if (user.roles.admin)
                li admin
              if (user.roles.leader)
                li leader
            if (user.expert)
              .row
                label.contol-label.col-sm-2 Expert for
                .col-sm-10= user.expert
block js
  if (session.roles.admin)
    script(type='text/javascript', src='/javascripts/user-admin.js')
    script(type='text/javascript', src='/formbinder/binder.js')
