form
  table.table
    thead
      tr
        th.text-left.col-md-1 &nbsp;
        th.text-left.col-md-2 Subject
        th.text-center.col-md-1 Status
        th.text-left.col-md-6 &nbsp;
        th.text-center.col-md-3 Assignee
    tbody
      for item in items
        tr.form-group.checklist-item
          td.text-left.form-control-static
            span.btn.glyphicon.glyphicon-triangle-right.checklist-item-show-history
            span.btn.glyphicon.glyphicon-triangle-bottom.checklist-item-hide-history.hidden
          td.text-left
            input.form-control.checklist-item-name(type='hidden', value=item.name)
            .form-control-static.checklist-item-subject #{item.subject}
          td.text-center
            if item.mandatory || item.required
              select.form-control
                if inputs[item.name] && inputs[item.name].value === 'N'
                  option.checklist-item-value(selected) N
                else
                  option.checklist-item-value N
                if inputs[item.name] && inputs[item.name].value === 'Y'
                  option.checklist-item-value(selected) Y
                else
                  option.checklist-item-value Y
                if inputs[item.name] && inputs[item.name].value === 'YC'
                  option.checklist-item-value(selected) YC
                else
                  option.checklist-item-value YC
            else
              .form-control-static.checklist-item-value N/A
          td.text-left
            if item.mandatory || item.required
              if inputs[item.name]
                input.form-control.checklist-item-comment(type="text", value=inputs[item.name].comment)
              else
                input.form-control.checklist-item-comment(type="text")
            else
              | &nbsp;
          td.text-center
            if item.assignee
              .form-control-static.checklist-item-assignee= item.assignee 
            else
              .form-control-static.checklist-item-assignee UNASSIGNED
        if history[item.name]
          for input in history[item.name]
            tr.checklist-item-history.hidden
              td.text-left.text-primary
                span.like-btn.glyphicon.glyphicon-time
              td.text-right.text-primary= moment(input.inputOn).format('MMM D YYYY, h:mm:ss A')
              td.text-center.text-primary= input.value
              if input.comment
                td.text-left.text-primary= input.comment
              else
                td.text-left.text-primary (NONE)
              td.text-center.text-primary= input.inputBy
  .row
    .col-xs-6.text-left
      button.btn.btn-default.checklist-input-edit(type='button') Edit
    .col-xs-6.text-right
      button.btn.btn-primary.checklist-input-save(type="button") Save