.row
  .col-md-6
    .table-responsive
      table.table
        tbody
          tr
            th Name
            td= device.name
          tr
            th Serial Number
            td= device.serialNo
          tr
            th Type
            td= device.type
          tr
            th Department
            td= device.department
          tr
            th Owner
            td= device.owner
          tr
            th Installed to device
            - var installToDevice = device.installToDevice.id ? '<a href="/devices/' + device.installToDevice.id + '">' + device.installToDevice.serialNo + '</a>' : 'N/A'
            td(id = 'dInstallToDevice')!= installToDevice
          tr
            th Installed to slot
            - var installToSlot = device.installToSlot.id ? '<a href="/slots/' + device.installToSlot.id + '">' + device.installToSlot.name + '</a>' : 'N/A'
              td(id = 'dInstallToSlot')!= installToSlot
          tr
            th Status
            -
              var statusMap = {
                  '0': 'Spare',
                  '1': 'Prepare to install',
                  '1.5': 'Prepare installation checklist',
                  '2': 'approved to install',
                  '3': 'installed'
                };
              var status = statusMap[device.status]
            td= status
